if SHIELD_CORNE_ULP_BALL_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne ULP Ball L"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
    default y

endif # SHIELD_CORNE_ULP_BALL_LEFT

if SHIELD_CORNE_ULP_BALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "Corne ULP Ball R"

endif # SHIELD_CORNE_ULP_BALL_RIGHT

if SHIELD_CORNE_ULP_BALL_LEFT || SHIELD_CORNE_ULP_BALL_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config ZMK_POINTING
    default y

config AZ1UBALL
    default y

config I2C
    default y

endif # SHIELD_CORNE_ULP_BALL_LEFT || SHIELD_CORNE_ULP_BALL_RIGHT
